<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>船橋今なにする？</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="fin001">

    <header class="fin001-header">
        <button 
            class="btn btn-default fin001-login-btn" 
            onclick="location.href='/login'">
            ログイン
        </button>
    </header>

    <main>
        <div class="container fin001-main-container">
            <h1>船橋今なにする？</h1>
            
            <button class="btn btn-danger fin001-start-btn">START</button>
        </div>
    </main>

</body>
</html>