<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録確認</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="fin004">

    <div class="container">
        <h2>登録確認</h2>

        <div class="info-block">
            <p><span>ユーザー名：</span><% username %></p>
            <p><span>メールアドレス：</span><% email %></p>
            <p><span>パスワード：</span><% password %>表示無し予定</p>
        </div>

        <div class="button-area">
            <button class="btn btn-danger">登録</button>
            <button class="btn btn-default">編集</button>
        </div>
    </div>
</body>
</html>