<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お気に入り（FIN016）</title>
    <link rel="stylesheet" href="css/style.css"> </head>
<body class="fin016">

    <div class="fin016-title-bar">
        <a href="FIN008.html" class="fin016-back-btn">＜</a>
        
        <h2>お気に入り</h2>

        <a href="FIN008.html" class="page-menu-icon fin016-menu-icon">😊</a>
    </div>

    <div class="fin016-results-container">

        <div class="fin016-result-item">
            <span class="fin016-result-info">店名 徒歩○分 1000円〜1400円</span>
        </div>

        <div class="fin016-result-item">
            <span class="fin016-result-info">店名 徒歩○分 1000円〜1400円</span>
        </div>
        
        </div>

</body>
</html>