<!DOCTYPE html>
<html lang="ja">
<head>
    <title>変更完了</title>
</head>
<body class="fin-complete">
    <%- include('header_common.ejs', { isLoggedIn: isLoggedIn, userName: userName, userId: userId }) %>
    <div class="container fin-complete-container">
        <h2>変更完了</h2>
        
        <p class="fin-complete-message"><%= completeMessage %></p>

        <div class="button-area button-area-center">
            <a href="/FIN009" class="btn btn-primary">マイページ</a>
        </div>
    </div>
</body>
</html>