<header class="main-header">
    <header class="common-header">
    <div class="header-logo">
        <a href="/">AppName</a>
    </div>
    <nav class="header-nav">
        <% if (isLoggedIn) { %>
            <span class="header-user-info">ようこそ、<%= userName %>さん</span>
            <a href="/profile">プロフィール</a>
            <a href="/logout">ログアウト</a>
        <% } else { %>
            <a href="/login">ログイン</a>
            <a href="/register">新規登録</a>
        <% } %>
    </nav>
</header>